<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @category_licor.nombre %>
</p>

<%= link_to 'Edit', edit_category_licor_path(@category_licor) %> |
<%= link_to 'Back', category_licors_path %>
